* {
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

body, html {
    height: 100%;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h1.dotf-logo-test {
  font-size: 60px;
  font-family: sans-serif;
  color: white;
}

.dotf-container {
}

.dotf-menu {
}

/* Header */

.dotf-header-container {
  background-image: url("https://wallpaperscraft.com/image/forest_trees_grass_fog_118451_1920x1080.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-column-template: 1fr 1fr 1fr;
  grid-row-template: 1fr 1fr 1fr;
}

.dotf-logo {

}

.dotf-header-text {
  font-size: 60px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.75);
  grid-column: 2;
  grid-row: 2;
}

/* About */

.dotf-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 50%;
}

.dotf-about-title {
  grid-column: 1/2;

}

.dotf-about-text {
grid-column: 2/4;
}

/* Break */

.dotf-break-container {
  background-image: url("https://wallpaperscraft.com/image/forest_trees_fog_110131_1920x1080.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Oils */

.dotf-oils-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 1px;
  margin-right: 1px;
}

.dotf-oils-title {

}

/*** Bonekeeper ***/

.dotf-oil-1 {
}

.dotf-oil-title-1 {

}

.dotf-oil-img-1 {

}

.dotf-oil-desc-1 {

}

/*** Kai ***/

.dotf-oil-2 {

}

.dotf-oil-title-2 {

}

.dotf-oil-img-2 {

}

.dotf-oil-desc-2 {

}

/*** Skogur ***/

.dotf-oil-3 {

}

.dotf-oil-title-3 {

}

.dotf-oil-img-3 {

}

.dotf-oil-desc-3 {

}

/*** Wyvern ***/

.dotf-oil-4 {

}

.dotf-oil-title-4 {

}

.dotf-oil-img-4 {

}

.dotf-oil-desc-4 {

}

/* Footer */

.dotf-footer {

}
